<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos_contactos.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body style="margin: 0;">
    <header>
        <div class="contenedor-direcciones">
            <div class="logo">
                <a class="redirecciones" href="../index.html"><img src="../assets/logo.svg" alt="logo"></a>
            </div>
        
            <div class="nav" style="display: flex; flex-direction: row;gap: 15px;margin-right: 20px; flex-wrap: nowrap;  ">
                <a class="redirecciones" href="servicios.html">Servicios</a>
                <a class="redirecciones" href="tienda.html">Tienda</a>
                <a class="redirecciones" href="catalogo_cervezas.html">Catalogo</a>
                <a class="redirecciones" href="contacto.html">Contactanos</a>
            </div>
        </div>
    </header> 
    <main style="background-color:#001111;">
        <form action="contacto" id="formulario" >
            <h2>Contacto</h2>
            <div class="grupo_input">
                <div class="grupo_input">
                    <label for="nombre"> Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" >
                    <div class="error-message" id="error-nombre" style="display: none; color: red;"></div>
                </div>
                <div class="grupo_input">
                    <label for="telefono"> Telefono</label>
                    <input type="tel" name="telefono" id="telefono" placeholder="Telefono" >
                    <div class="error-message" id="error-telefono" style="display: none; color: red;"></div>
                </div>
                <div class="grupo_input">
                    <label for="email"> Email</label>
                    <input type="email" name="Email" id="Email" placeholder="Email">
                    <div class="error-message" id="error-Email" style="display: none; color: red;"></div>
                </div>
                <div class="grupo_input">
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" id="mensaje" cols="30" rows="5" placeholder="Mensaje"></textarea>
                </div>
                <input class="boton" type="submit" value="Enviar">
            </div>
        </form>
        <script src="../js/contactos.js"></script>
    </main>
</body>
<footer class="caja-footer" > 
    <div class="contenedores_footer">
        <div class="navegacion-footer">
            <h3 ><strong>NAVEGACION</strong></h3>
            <a class="redirecciones" href="../index.html" style="padding: 5px;" >Inicio</a>
            <a class="redirecciones" href="../templates/servicios.html" style="padding: 5px;">Servicios</a>
            <a class="redirecciones" href="../templates/tienda.html" style="padding: 5px;">Tienda</a>
            <a class="redirecciones" href="../templates/catalogo_cervezas.html" style="padding: 5px;">Nuestros Catalogo</a>
            <a class="redirecciones" href="../templates/contacto.html" style="padding: 5px;">Contactanos</a>
        </div>
            
        <div class="caja-contactos">
            <h3><strong>CONTACTANOS</strong></h3>
            <div style="display: flex; align-items: center; margin: 10px;"  >
                <img src="../assets/telephone-com.svg" alt="telefono" style="width:25px; height :25px;">
                <p style="margin: 0;">:0261-3XXXXXX</p>
            </div>
            <div style="display: flex; align-items: center; margin: 10px;">
                <Img src="../assets/whatsapp-com.svg" alt="whatsapp" style="width: 25px; height: 25px;"></Img> 
                <p  style="margin: 0;">: 0261-6XXXXXX / 0261-5XXXXXX</p>
            </div>
            <div style="display: flex; align-items: center; margin: 10px;">
                <img src="../assets/gmail-com.svg" alt="mail" style="width: 25px; height: 25px;">
                <p  style="margin: 0;">: LibreBrew@birra.com </p>
            </div>
        </div>
                
        <div class="caja-redes">
            <h3><strong>NUESTRAS REDES</strong></h3>
            <div class="redes">
                <div style="padding-right: 10px;"><a href="https://www.instagram.com" target="_blank"> <img src="../assets/instagram-com.svg" alt="instagram" style="width:40px;height:40px;"></a></div>
                <div style="padding-left: 10px;padding-right: 10px;"><a href="https://x.com" target="_blank"><img src="../assets/x-com.svg" alt="x" style="width:42px;height:42px;"></a></div>
                <div style="padding-left: 10px;"><a href="https://www.facebook.com" target="_blank"><img src="../assets/facebook-com.svg" alt="facebook" style="width: 50px; height: 50px;"></a></div>
            </div>
        </div>
    </div>
</footer>

</html>
