<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../css/estilos_servicios.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body style="margin: 0;">
    <header>
        <div class="contenedor-direcciones">
            <div class="logo">
                <a class="redirecciones" href="../index.html"> <img src="../assets/logo.svg" alt="logo"></a>
            </div>
            <div class="nav" style="display: flex; flex-direction: row;gap: 15px;margin-right: 20px; flex-wrap: nowrap;  ">
                <a class="redirecciones" href="../templates/servicios.html">Servicios</a>
                <a class="redirecciones" href="../templates/tienda.html">Tienda</a>
                <a class="redirecciones" href="../templates/catalogo_cervezas.html">Catalogo</a>
                <a class="redirecciones" href="../templates/contacto.html">Contactanos</a>
            </div>
        </div>
    </header> 
    <main style="background-color:#001616;">
        <div class="contendores">
            <div class="card" style="border: 0;">
                <div class="image"><img src="../assets/BeerTruckatNight.jpg" alt="BeerTruck"></div>
                <div class="content">
                    <a href="contacto.html">
                        <span class="title">
                            Descubre una nueva forma de disfrutar tus eventos con nuestro Beertruck
                        </span>
                    </a>
                    <p class="desc">
                        Brindamos una experiencia única donde la cerveza de calidad se encuentra con la comodidad y el estilo. Desde bodas elegantes hasta fiestas vibrantes, nuestro Beertruck es la opción perfecta para llevar el mejor sabor directamente a tu celebración.
                    </p>
                    <a class="action" href="contacto.html">
                        Contactanos para más
                        <span aria-hidden="true">
                            →
                        </span>
                    </a>
                </div>
            </div>
            <div class="card" style="border: 0;">
                <div class="image"><img src="../assets/chopera.jpg" alt="Chopera"></div>
                <div class="content">
                    <a href="contacto.html">
                        <span class="title">
                            Nuestra chopera es perfecta para personalizar tu evento con estilo y sabor
                        </span>
                    </a>
                    <p class="desc">
                        Desde reuniones íntimas hasta festivales multitudinarios, transformamos tu evento en una experiencia sensorial única. Con nuestra chopera, cada sorbo celebra el buen gusto y la calidad, asegurando que cada invitado recuerde este día especial con una sonrisa y una cerveza en la mano.
                    </p>
                    <a class="action" href="contacto.html">
                    Contactanos para más
                    <span aria-hidden="true">
                        →
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </main>
<footer class="caja-footer" > 
    <div class="contenedores_footer">
        <div class="navegacion-footer">
            <h3 ><strong>NAVEGACION</strong></h3>
            <a class="redirecciones" href="../index.html" style="padding: 5px;" >Inicio</a>
            <a class="redirecciones" href="../templates/servicios.html" style="padding: 5px;">Servicios</a>
            <a class="redirecciones" href="../templates/tienda.html" style="padding: 5px;">Tienda</a>
            <a class="redirecciones" href="../templates/catalogo_cervezas.html" style="padding: 5px;">Nuestros Catalogo</a>
            <a class="redirecciones" href="../templates/contacto.html" style="padding: 5px;">Contactanos</a>
        </div>
                
        <div class="caja-contactos">
            <h3><strong>CONTACTANOS</strong></h3>
            <div style="display: flex; align-items: center; margin: 10px;"  >
                <img src="../assets/telephone-com.svg" alt="telefono" style="width:25px; height :25px;">
                <p style="margin: 0;">:0261-3XXXXXX</p>
                </div>
                <div style="display: flex; align-items: center; margin: 10px;">
                <Img src="../assets/whatsapp-com.svg" alt="whatsapp" style="width: 25px; height: 25px;"></Img> 
                <p  style="margin: 0;">: 0261-6XXXXXX / 0261-5XXXXXX</p>
            </div>
            <div style="display: flex; align-items: center; margin: 10px;">
                <img src="../assets/gmail-com.svg" alt="mail" style="width: 25px; height: 25px;">
                <p  style="margin: 0;">: LibreBrew@birra.com </p>
            </div>
        </div>
                    
        <div class="caja-redes">
            <h3><strong>NUESTRAS REDES</strong></h3>
            <div class="redes">
                <div style="padding-right: 10px;"><a href="https://www.instagram.com" target="_blank"> <img src="../assets/instagram-com.svg" alt="instagram" style="width:40px;height:40px;"></a></div>
                <div style="padding-left: 10px;padding-right: 10px;"><a href="https://x.com" target="_blank"><img src="../assets/x-com.svg" alt="x" style="width:42px;height:42px;"></a></div>
                <div style="padding-left: 10px;"><a href="https://www.facebook.com" target="_blank"><img src="../assets/facebook-com.svg" alt="facebook" style="width: 50px; height: 50px;"></a></div>
            </div>
        </div>
    </div>
</footer>
</html>


